html {
    overflow-y: scroll;
}

/* Setting margin and padding to 0 for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/********** HEADER STYLING *****/
.page-header {
    background-color: rgb(80, 160, 214);
    padding: 1.3rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/**** LOGO ****/
.logo {
    color: rgb(226, 226, 47);
    align-self: center;
    margin-left: 1rem;
}

/**** NAV BAR ****/
.nav-bar {
    margin: auto;
}

/** Buttons **/
.top-nav-button {
    background: none;
    border: none;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    transition: .5s ease;
    border-radius: 10px;
}
.top-nav-button:hover {
    background-color: rgb(194, 155, 70);
    transform: scale(1.2);
}
.top-nav-button a {
    color: white;
    text-decoration: none;
}


/** Hamburger button **/
.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}

/** Login button **/
#login {
    font-size: 0.8rem;
    color: white;
    border: 0;
    background: rgb(61, 54, 54);
    border-radius: 5px;
    padding: 0.9rem;
    width: 100px;
    cursor: pointer;
    transition: .4s ease;
}
#login:hover {
    background-color: rgb(194, 155, 70);
    transform: scale(1.1);
}

/** RESPONSIVE HEADER **/
@media screen and (max-width: 1300px) {

    /* Mobile navigation bar view. */
    .nav-bar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(122, 177, 214);
    }
    .nav-bar.responsive {
        display: block;
    }
    .top-nav-button {
        display: block;
        padding: 0.75rem;
        transition: 0.5s;
        margin: 0;
        width: 100%;
        text-align: left;
        background-color: rgb(122, 177, 214);
        border-radius: 0;
    }
    .top-nav-button:hover {
        background-color: rgb(194, 155, 70);
        transform: none;
    }
    #login {
        padding: 0.9rem;
        width: 100px;
    }
    .logo {
        font-size: 1.4rem;
        margin-left: 0;
    }

    /**** Adjust header for mobile view ****/
    .page-header {
        justify-content: space-between;
    }
    
    /* Left section */
    .page-header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 0.5rem;
    }
    
    /* Hamburger button */
    .menu-icon {
        display: block;
        font-size: 1.5rem;
        z-index: 1;
        padding: 0 10px 0 10px;
        border-radius: 5px;
        transition: 0.4s;
    }
    .menu-icon:hover {
        background-color: rgb(194, 155, 70);
    }

}